:root {
  /* color-scheme: light dark; */
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: light-dark(#F0EAD6, black); */
}

p {
  margin: 0;
}